<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="frame-ancestors https://drive.google.com 'self';" />
<meta http-equiv="Content-Security-Policy" content="frame-ancestors https://myaccount.google.com/ 'self';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="../../assets/css/swiper-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <link rel="stylesheet" href="../../assets/css/mainStyle.css">
    <link rel="stylesheet" href="../../assets/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="../../assets/css/Simple-Slider.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top cnavbar ggradient">
        <div class="container"><a class="navbar-brand logo" href="#">Aswin Mani</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="../../projects-compact-grid.html">Projects</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page project-page" style="background: var(--bs-body-bg);">
        <section class="portfolio-block project" style="color: var(--bs-white);/*width: 80%;*//*margin-left: 10%;*//*padding-right: -10%;*/">
            <div class="container">
                <div class="heading" style="margin-bottom: 50px;">
                    <h2>project name</h2>
                </div>
                <div class="carousel slide" data-bs-ride="false" data-bs-pause="false" data-bs-keyboard="false" id="carousel-1" style="padding-bottom: 50px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active videoiframe videoiframecontainer"><iframe class="videoiframe" src="https://drive.google.com/file/d/1ECvWR_PR2-w3Soi2f7X4v-UbTg-aCqdF/preview" allowfullscreen="true"></iframe></div>
                        <div class="carousel-item videoiframe videoiframecontainer"><iframe class="videoiframe" src="https://drive.google.com/file/d/1ECvWR_PR2-w3Soi2f7X4v-UbTg-aCqdF/preview" allowfullscreen="true"></iframe></div>
                        <div class="carousel-item videoiframe videoiframecontainer"><iframe class="videoiframe" src="https://drive.google.com/file/d/1ECvWR_PR2-w3Soi2f7X4v-UbTg-aCqdF/preview" allowfullscreen="true"></iframe></div>
                        <div class="carousel-item videoiframe videoiframecontainer"><iframe class="videoiframe" src="https://drive.google.com/file/d/1ECvWR_PR2-w3Soi2f7X4v-UbTg-aCqdF/preview" allowfullscreen="true"></iframe></div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                    </ol>
                </div>
                <section style="padding-top: 25px;">
                    <h3>Description</h3>
                    <p>Nam a ultrices mauris. Nam efficitur, lorem a vehicula interdum, ligula velit euismod lorem, vitae vehicula ligula tortor eu leo. Maecenas porttitor massa ut vestibulum euismod. Aliquam eget mi aliquam.</p>
                    <p>Lorem ipsum dapibus dolor non, malesuada mauris. Aliquam eleifend mauris non odio mattis auctor. Aenean sit amet elementum tellus, a facilisis ligula. Pellentesque ac vehicula mauris.</p>
                </section>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="border-style: none;padding-top: 0px;padding-bottom: 0px;box-shadow: 0px 0px 20px 2px #b2f0ff;">
        <section class="portfolio-block website ggradient" style="padding-bottom: 0px;padding-top: 0px;height: 0px;"></section>
    </footer>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="../../assets/js/Simple-Slider-swiper-bundle.min.js"></script>
    <script src="../../assets/js/Simple-Slider.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>