:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0ea0ff;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #6091ef;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #14171a;
  --bs-primary-rgb: 14, 160, 255;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 96, 145, 239;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Lato", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #06101a;
}

.ggradient {
  background: linear-gradient(130deg, rgba(99,190,241,0.01) 0%, rgba(0,0,0,0.28) 99%), linear-gradient(30deg, #06101a 0%, #06101a 99%);
}

.cnavbar {
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0px -8px 20px 0px #b2f0ff;
}

.videoiframe {
  /*min-height: 648px;*/
  /*max-width: 1152px;*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*pointer-events: none;*/
}

.videoiframecontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*height: 200px;*/
  /*transform: scale(0.8);*/
  padding-top: 56.25%;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  padding: 0;
  margin-right: 4px;
  margin-left: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #b2f0ff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .3;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  color: #63bef1;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

.loadinglottie {
  /*min-width: 96px;*/
  /*min-height: 96px;*/
  /*max-width: 128px;*/
  /*max-height: 128px;*/
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  filter: blur(20px);
}

@media (min-width: 576px) {
  .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 1;
    filter: saturate(100%);
  }
}

.videoloadinglottie {
  max-width: 156px;
  max-height: 156px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  filter: saturate(100%);
}

.grid-column {
  min-width: 300px;
  min-height: 225px;
}

.btn:hover {
  color: #ffffff;
  background-color: #63bef1;
  border-color: #63bef1;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: #ffffff;
  background-color: #59abda;
  border-color: #59abda;
}

.btn-outline-primary {
  --bs-btn-color: #63bef1;
  --bs-btn-border-color: #63bef1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0ea0ff;
  --bs-btn-hover-border-color: #0ea0ff;
  --bs-btn-focus-shadow-rgb: 14, 160, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0ea0ff;
  --bs-btn-active-border-color: #0ea0ff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0ea0ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0ea0ff;
  --bs-gradient: none;
}

